extends layout

block content
	body
		.contaier-fluid.gray-bg.pt-5.fill-height
			.container
				.row.justify-content-center
					#postsContainer.col-6.mx-auto
						a.btn.btn-primary(href='/feed') Go back to feed
						.card.mt-2.mb-5
							- var url = post.imageURL;
							img.card-img-top(src=url)
							.card-body
								h4.card-title #{post.title}
								p.card-text 
									b Created by #{post.username}
								p.card-text #{post.body}
								p.card-text Likes: #{post.likes}
								p.card-text Created at: #{post.createdAt}
